.App {
  display: flex;
  text-align: center;
  font-family: 'Montserrat';
  background-image: url("./images/background.svg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* height: 100%; */
  font-size: calc(5px + 2vmin);
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.App-registro{
  background-image: url("./images/iniciar_sesion.svg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.App-header{
  display: flex;
  align-items: center;
  text-align: center;
}

html, body {
  height: 100%;  
  margin: 0; 
  padding: 0;
}

a {
  text-decoration: none;
}

/* //CLASES GLOBALES PARA USAR EN TODA LA PÁGINA */
.boton_aceptar{
  border: 1px solid black;
  border-radius: 13px;
  background-color: rgba(0, 151, 236, 0.66);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease;
}

.boton_aceptar:hover{
  background-color: rgba(86, 181, 235, 0.66);
  transform: scale(1.05);
}

.boton_aceptar:not(:hover) {
  transform: scale(1);
}

.select_container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select_de_tipos {
  background-color: transparent;
  border: 3px solid #7293BC;
  padding: 10px;
  font-size: 18px;
  font-family: 'Montserrat';
  color: #7293BC;
  border-radius: 15px;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.select_container::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 18px;
  color: #7293BC;
}


.select_de_tipos option {
  border: 2px solid #7293BC;
  background-color: #fff;
  color: #000;
}


