.recomendaciones_h2{
    margin-bottom: 20px;
    font-weight: 700;
    transition: transform 0.3s ease;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.recomendaciones {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-top: 40px;
    width: 100%;
}

.recomendaciones_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: black;
    margin-left: 100px;
}

.recomendaciones_icon:hover {
    transform: translateX(20px);
}

.more_than_icon {
    transition: transform 0.3s ease;
}

.pagina_inicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: flex-start; 
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    
    margin-bottom: 20px;
    margin-top: 50px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease;
    height: 40px;
    font-size: 20px;
}

.search-input::placeholder {
    font-size: 20px; 
    padding-left: 10px;
    font-family: 'Montserrat';
}


.search-input:focus {
    border-color: #0097EC; /* Cambia el color del borde al enfocar */
}

/*
.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón 
}
*/
.cards-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    
}
.SelectoresBuscar{
    display: flex;
    flex-direction: row;
}

.SelectoresBuscar select{
    border-radius: 20px; /* Forma redonda */
    padding: 0.45rem;
    border: 2px solid #0097EC;
    background-color: #ffffff;
    margin-left: 2px;
    font-family: 'Montserrat';
    font-size: 18px;
}

.SelectoresBuscar select option{
    background-color: #ffffff;
}

.textarea-subir-select-buscar {
    font-size: 16px;
    color: #333;   
    background-color: white; /* Color de fondo del select */
    font-family: 'Montserrat';
}
