.card-red, .card-orange, .card-green, .card-grey {
      display: flex;
      flex-direction: column;
      min-height: 450px;
      justify-content: space-between; /* Distribuye el espacio entre los elementos */
      
  }
  
  

.card-red{
      width: 250px;
      border: 2px solid #fd2828;
      border-radius: 10px;
      background-color: #ffffff;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      transition: transform 0.2s ease-in-out, background-color 0.2s ease;
      cursor: pointer;
}

.card-orange{
      width: 250px;
      border: 2px solid #ffbb0f;
      border-radius: 10px;
      background-color: #ffffff;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      transition: transform 0.2s ease-in-out, background-color 0.2s ease;
      cursor: pointer;
}

.card-green{
      width: 250px;
      border: 2px solid #2dff50;
      border-radius: 10px;
      background-color: #ffffff;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      transition: transform 0.2s ease-in-out, background-color 0.2s ease;
      cursor: pointer;
}

.card-grey{
      width: 250px;
      border: 2px solid #989898;
      border-radius: 10px;
      background-color: #ffffff;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      transition: transform 0.2s ease-in-out, background-color 0.2s ease;
      cursor: pointer;
}

.card-red:hover{
      transform: scale(1.05);
}

.card-orange:hover{
      transform: scale(1.05);
}

.card-green:hover{
      transform: scale(1.05);
}

.card-grey:hover{
      transform: scale(1.05);
}


.card-titulo {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333;
      font-size: 20px;
      padding: 10px;
      font-weight: 600;
}

.card-imagen {
      padding: 10px;
  height: 200px;
  width: 200px;
  display: flex; /* Usa flexbox para centrar */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-left: auto;
  margin-right: auto;
}

.card-icons {
      display: flex;
      text-align: right;
      justify-content: right;
      align-items: center;
      padding: 10px;
      font-size: 18px;
      
}

.icon-card {
      margin-left: 10px;
      margin-right: 2px;
}

.card-red .card-autor {
      display: flex;
      justify-content: space-between; /* Distribuye el espacio entre los elementos */
      align-items: center; /* Centra verticalmente los elementos */
      color: #333;
      font-size: 14px;
      padding: 7px;
      background-color: #fd2828;
      color: #ffffff;
      border-radius: 0 0 5px 5px; 
      min-height: 30px;
      
}

.card-orange .card-autor {
      display: flex;
      justify-content: space-between; /* Distribuye el espacio entre los elementos */
      align-items: center; /* Centra verticalmente los elementos */
      color: #333;
      font-size: 14px;
      padding: 7px;
      background-color: #ffbb0f;
      color: #ffffff;
      border-radius: 0 0 5px 5px;   
      min-height: 30px; 
}

.card-green .card-autor {
      display: flex;
      justify-content: space-between; /* Distribuye el espacio entre los elementos */
      align-items: center; /* Centra verticalmente los elementos */
      color: #333;
      font-size: 14px;
      padding: 7px;
      background-color: #2dff50;
      color: #ffffff;
      border-radius: 0 0 5px 5px; 
      min-height: 30px;   
}

.card-grey .card-autor {
      display: flex;
      justify-content: space-between; /* Distribuye el espacio entre los elementos */
      align-items: center; /* Centra verticalmente los elementos */
      color: #333;
      font-size: 14px;
      padding: 7px;
      background-color: #989898;
      color: #ffffff;
      border-radius: 0 0 5px 5px;    
      min-height: 30px;
}

.icono_guardar_tu_biblioteca {
      display: flex;
      justify-content: flex-end; /* Alinea el icono a la derecha */
      align-items: center; /* Centra verticalmente el icono */
      font-size:20px;
      gap:10px;
}

.icon-card-guardado {
      cursor: pointer; /* Muestra que el icono es clicable */
}

.ouyeah_foto{
      width: 200px;
}

.NombreCard{
      text-align: center;
      display: flex;
      justify-content: center; /* Alinea el icono a la derecha */
      align-items: center; /* Centra verticalmente el icono */
      width: 250px;
      font-size:20px;
}


  