/* Estilos para el fieldset */

.ModalCambiaDatos{
  text-align: center;
}

.Formulario {
  width: 600px;
  border: 1px solid #0000ff; /* Cambia el ancho del borde */
  margin: 20px 0; /* Añade más espacio alrededor del fieldset */
  padding: 20px; /* Añade más espacio dentro del fieldset */
  border-radius: 10px; /* Añade bordes redondeados al fieldset */
}

.legendFormulario {
  font-size: 1.2rem;
  font-weight: bold;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.form-group-user {
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.label-group {
  display: flex;
  align-items: center;
}


.label-group label {
  font-weight: bold;
  margin-right: 10px;
}

.inputFormulario{
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

/* Estilos para los botones */
.custom-button-Formulario {
  background-color: #f9f9f9;
  color: #000000;
  border: 2px solid blue; /* Añade un borde azul a los botones */
  border-radius: 20px; /* Añade bordes redondeados a los botones */
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 10px; /* Ajusta el espacio entre los botones */
}

.custom-button-Formulario.blue {
  background-color: #0074d9;
  color: #ffffff; /* Cambia el color del texto para que sea legible */
  border: 2px solid #0000ff; /* Añade un borde azul a los botones */
  border-radius: 20px; /* Añade bordes redondeados a los botones */
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 10px; /* Ajusta el espacio entre los botones */
}

.custom-button-Formulario-red {
  background-color: #f86150;
  color: #ffffff; /* Cambia el color del texto para que sea legible */
  border: 2px solid rgb(244, 63, 13); /* Añade un borde azul a los botones */
  border-radius: 20px; /* Añade bordes redondeados a los botones */
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 10px; /* Ajusta el espacio entre los botones */
}

/* Cambiar imagen */
.button-cambiar-imagen {
  background-color: transparent;
  color: #0074d9;
}
