.recomendaciones_h2{
    margin-bottom: 20px;
    font-weight: 700;
    transition: transform 0.3s ease;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.recomendaciones {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-top: 40px;
    width: 100%;
}

.recomendaciones_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: black;
}

.recomendaciones_icon:hover {
    transform: translateX(20px);
}

.more_than_icon {
    transition: transform 0.3s ease;
}

.pagina_inicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: flex-start; 
}
.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Centrado de los cards */
    gap: 20px; /* Espacio entre los cards */
}
@media (max-width: 600px) {
    .inicio{
        display:flex;
        align-items: center;
    }
    .cards-container {
        flex-direction: column; /* Ajusta los elementos en una columna */
        align-items: center; /* Centra los cards verticalmente */
        margin-left:0 !important;
    }
    .recomendaciones_h2 {
        text-align: center; /* Centra el texto de los títulos horizontalmente */
        font-size: 25px;
        overflow-wrap: break-word;
    }

    .recomendaciones_icon {
        justify-content: center; /* Centra los íconos y texto dentro de .recomendaciones_icon */
        font-size: 20px;
    }
}