.navbar {
  display: flex;
  align-items: center;
  background-color: #00000000;
  border: 4px solid #0097EC;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
   /* Hacer el ancho flexible */
  width: 1050px; /* Máximo ancho en pantallas grandes */
  height: 65px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-left: auto; /* Centrar en la página */
  margin-right: auto; /* Centrar en la página */
}

.navbar > img{
  width: 50px;
  height: auto;
  margin-left: 15px;
}

.nav-container {
  display: flex;
  margin-left: 60px;
  justify-content: center;
  flex-grow: 1;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: auto;
}

#inixi:hover{
  transform: scale(1.10);
}

#biblix:hover{
  transform: scale(1.10);
}

.nav-list li {
  margin-right: 10px; /* Espacio entre elementos de la lista */
}

.nav-list li a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  margin: 0;
  font-weight: 500;
  margin-left: 10px;
  /*font-weight: bold;*/ 
}

.nav-list li.active a {
  font-weight: 700;
}


.nav-list li.active a::after{
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: #0097EC;
  transform: translateY(17px);
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
  box-shadow: inset 0px 2px 5px 2px rgba(0, 0, 0, 0.24);
}

.logo-item1, .logo-item2, .logo-item3  {
  display: flex;
  margin-right: auto;
  width: 80px;
  height: auto;
}

.logo-item1:hover{
  transform: scale(1.10);
}
.logo-item2:hover{
  transform: scale(1.10);
}
.logo-item3:hover{
  transform: scale(1.10);
}
  
.icons-menu {
  background-color: #0097EC;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  border-bottom: 2px solid #0097EC ;
  padding-left: 25px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}



.icons-menu-list{
  list-style-type: none;
  display: flex;
  align-items: center;
}
/* Estilo base para el botón del menú hamburguesa */
.menu-toggle {
  display: none;
  background: none;
  border: none;
}



/* Nuevo estilo para el menú lateral */
.side-nav {
  display: none;
  position: fixed; /* Cambiado de 'absolute' a 'fixed' para que cubra toda la pantalla */
  left: 0;
  top: 0;
  width: 300px; /* Aumentado de 250px para dar más espacio */
  height: 100vh;
  background-color: #0097EC;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  align-items: center; /* Centrado horizontal de los ítems */
  justify-content: center; /* Centrado vertical de los ítems */
  padding: 50px 0; /* Añadido padding superior e inferior para centrar todo verticalmente */
}

.side-nav.open {
  transform: translateX(0%);
}

.nav-list2 {
  list-style-type: none;
  display: flex;
  flex-direction: column; /* Cambiado a columna para que se apilen verticalmente */
  align-items: center; /* Alineación horizontal centrada */
  gap: 30px; /* Espacio entre elementos aumentado */
  padding: 0;
}

.nav-list2 li a, .nav-list li svg {
  font-size: 1.5rem; /* Aumentar el tamaño del texto */
  color: #ffffff; /* Cambiar el color a blanco para mejor contraste */
}

.nav-list2 li svg {
  width: 2rem; /* Aumentar el tamaño de los iconos */
  height: 2rem; /* Aumentar el tamaño de los iconos */
}


/* Estilos para pantallas móviles */
@media (max-width: 768px) {

  
  .menu-toggle {
    display: block;
    position: absolute; /* Asegura que el botón no desplace otros elementos */
    top: 60px; /* Espacio desde el top */
    right: 40px; /* Espacio desde el right */
    color: black; /* Ajusta según tu diseño */
    background: none; /* Sin fondo para integrarse mejor */
    border: none; /* Sin bordes para un aspecto más limpio */
  }

  .nav-container, .icons-menu {
    display: none; /* Ocultar cuando el menú está cerrado */
    width: 100%; /* Uso completo del ancho para alinear los elementos */
    flex-direction: column;
    align-items: center;
  }

  .nav-container.open, .icons-menu.open {
    display: flex;/* Espacio vertical para respirar */
  }
  .navbar{
    display: flex;
    width:80%;
    margin-left: 60px;
    margin-right: 40px;
    
  }
 

 

  .side-nav,
  .side-nav.open {
    display: flex;
  }
  
}
