.navbar {
  display: flex;
  align-items: center;
  background-color: #00000000;
  border: 4px solid #0097EC;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 1050px; /* Ancho fijo en píxeles */
  height: 65px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.navbar > img{
  width: 50px;
  height: auto;
  margin-left: 15px;
}

.nav-container {
  display: flex;
  margin-left: 60px;
  justify-content: center;
  flex-grow: 1;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: auto;
}

.nav-list li {
  margin-right: 10px; /* Espacio entre elementos de la lista */
}

.nav-list li a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  margin: 0;
  font-weight: 500;
  margin-left: 10px;
  /*font-weight: bold;*/ 
}

.nav-list li.active a {
  font-weight: 700;
}


.nav-list li.active a::after{
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: #0097EC;
  transform: translateY(14px);
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
  box-shadow: inset 0px 2px 5px 2px rgba(0, 0, 0, 0.24);
}

.logo-item {
  display: flex;
  margin-right: auto;
  width: 80px;
  height: auto;
}
  
.icons-menu {
  background-color: #0097EC;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  border-bottom: 2px solid #0097EC ;
  padding-left: 25px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.icons-menu-list{
  list-style-type: none;
  display: flex;
  align-items: center;
}