h1{
    text-align: center;
}

.container {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  }

.InfoUsuario {
  padding: 20px;
    display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  border: solid 5px black;
  border-radius: 40px ; /* Redondea solo el lado izquierdo */
    
    width: 1030px;
    margin: auto;
  }
  
  .InfoUsuarioImage {
    flex: 0 0 auto; /* No crece ni se encoge */
  }
  
  .InfoUsuarioText {
    flex: 1; /* Que ocupe el espacio restante */
    padding-left: 20px; /* Espaciado entre la imagen y el texto */
  }


.PublicacionesPublico {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1300px;
  }

.PubliPublico{
    text-align: left;
    
}

.TipoContenidoPublico {
  margin-top: 10px; /* Espacio entre el título y el selector */
  padding-bottom: 10px;
}

  .select-container-Publico {
    display: flex;
    flex-direction: row;
}
  
  .select-container-Publico select {
    border-radius: 20px; /* Forma redonda */
    padding: 0.25rem;
    border: 2px solid #0000ff;
    background-color: #ffffff;
    margin-bottom: 10px; /* Espacio entre los selects */
  }
  
  .select-container-Publico select option{
    background-color: #ffffff;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan en múltiples líneas */
  }

  .Img-archivo-Perfil{
    border: 3px solid black;
    border-radius: 8px;
  }
 