.publidetalle-container {
    display: block;
    width: 100%;
  }
  
  .infocont {
    display: flex;
    justify-content: space-between; 
  }
  
  .izqcont, .drchcont {
    flex: 1; 
    margin:50px 0px 50px 20px;
  }
  .drchcont .titulo-det2{
    margin-bottom: 50px;
    font-weight: normal;
  }
  .nom-y-logo {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
  .nom-y-logo img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
  }
  #nomUsuario {
    margin: 0; 
    font-size: 13px; 
  }
  
  .comentcont {
    
    width: 100%;
    
  }
  
  .infor-detalle {
    text-align: left;
    display: block;
  }
  
  .titulo-det {
    text-align: left;
  }
  
  .infor-detalle > * {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #etiquetas-det {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
  }
  
  #etiquetas-det > div {
    margin-right: 20px; 
    border-radius: 25px;
    margin-top:20px;
    
    
  }
  #eti1, #eti2, #eti3 {
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 25px; 
    padding: 5px 20px; 
   
  }
  
  #eti1 {
    background-color: #7293bc; 
  }
  
  #eti2 {
    background-color: #9bd9ff; 
  }
  
  #eti3 {
    background-color: #a1ffeb; 
  }
  
  #pe {
    font-size: 10px; 
    margin: 0; 
  }
  .estrellas-valoraciones{
    display: flex;
    align-items: center;
  }
  .rating-separator {
    height: 24px; 
    width: 1px;
    background-color: #ccc;
    margin: 0 10px;
    }

.rating-count {
    margin-left: 5px;
    font-size: 18px;
    margin-right: 10px;
}
  #btn-det{
    border:2px solid;
    border-radius: 10px;
    padding:5px 10px;
    min-width: 170px;
    cursor: pointer;
    font-family: 'Montserrat';
  }
.izqcont{

    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}
  .Img-archivo{
    border: 3px solid black;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .botons-archivo{
    width: 500px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: medium;
    cursor: pointer;
  }

  #btn-desc{
    background-color: #61bff3;
    border-right: 1px solid black;
    padding:0px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  #btn-guard{
    background-color: #61bff3;
    padding:0px 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  #desc{
    width: 40px;
    height: 20px;
    margin-left: 10px;
  }
  #guard{
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  
  .separador-coment{
    width: 80%;
    border: 1px solid;
  }
  .coment1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

  .comentario1{
    margin-top:50px;
    margin-left:100px;
    display: flex;
    align-items: center; 
    gap: 10px; 
    position:relative;
  }
  .separador-coment2 {
    position: absolute;
    left:100px;
    width: 85%;
    border: none; 
    height: 1.5px; 
    background-color: #ccc; 
    margin:30px 0 30px 0;
}
  .comentario1 img{
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
  }
  .star-rating .star {
    font-size: 24px;
    color: gold; 
}

.star-rating .star.grey {
    color: grey; 
}

.titulo-fecha{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-left:130px;
    font-size:small;
}

#mini-titulo{
    margin:0px 0px 0px 10px;
    padding:0;
    font-weight: bold;
}
#fecha-coment{
    margin:0px 0px 0px 10px;
    padding:0;
    color: #b2b3b3;
}

#fecha-coment2{
  margin:0px 0px 0px 10px;
  padding:0;
  color: #000000;
}



.comentario2{
    text-align: left;
    margin-left: 130px;
    max-width: 60%;
}
.titulo-final{
    text-align:left;
    margin-top:60px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.valor-comentar{
    display: flex;
    flex:1;
    margin-left:60px;
}
.separeitor {
    width: 1px; 
    background-color: black; 
    height: 329px;
    margin:0px 30px; 
}
.estrellitas{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}
#tit{
    text-align: left;
}

#destino {
    width: 100%; 
    padding: 0 40px 20px 0; 
    box-sizing: border-box; 
    margin: 0 auto; 
  }
  
  .titulo-final2 {
    text-align: left; 
    margin: 0 0 10px 0; 
    font-weight: normal;
  }

  .titulo-final3 {
    text-align: left; 
    margin: 5px 0 10px 0; 
    font-weight: normal;
  }
  
  .area-coment {
    width: 100%; 
    padding: 8px 10px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    margin: 0; 
    min-height: 200px;
  }

  .area-coment2 {
    width: 100%; 
    padding: 8px 10px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    margin: 0; 
    min-height: 50px;
  }
  
  .final-btn {
    display: flex; 
    justify-content: flex-end; 
    margin-top: 10px; 
  }
  
  .btn-coment {
    padding: 8px 16px; 
    background-color: #5cbdf3; 
    color: black; 
    cursor: pointer;
    border:1px solid black;
    border-radius: 10px; 
    text-align: center; 
    font-weight: bold;
  }
  
  .btn-coment p {
    margin: 0; 
  }
  
  .multiImage{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 500px;
    height: 350px;
  }

  .botonImagesPasar{
    padding: 8px 16px; 
    background-color: #5cbdf3; 
    color: black; 
    cursor: pointer;
    border:1px solid black;
    border-radius: 10px; 
    text-align: center; 
    font-weight: bold;
  }
  
