.cards-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px; /* Espacio entre los selects y las cards */
    margin-left: 75px; /* Margen izquierdo para separar del borde izquierdo */
    padding: 0.75rem; /* Espacio alrededor de cada card */
  }
  
  .card {
        border: 1px solid #0000ff;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px; /* Espacio entre cada tarjeta */
        /* Otros estilos que desees aplicar */
  }