/* .registro {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-image: url("./images/iniciar_sesion.svg");
} */

.titulo-web{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.titulo-web img{
    height: 100px;
    margin-right: 50px;
}

.input-icon-container_registro {
    display: flex;
    align-items: center;
    /* width: 100%; */
    /* justify-content: center; */
    margin-bottom: 7px;
}

.input-icon-container_registro .input-icon {
    position: absolute;
    margin-left: 15px;
    margin-bottom: 15px;
    color: gray;
}

.input-icon-container_registro input, .input-icon-container_registro select  {
    padding-left: 45px;
}

form{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 70%;
}

input[type=text], input[type=password], input[type=email] {
    margin-top: 0px;
    height: 30px;
    font-size: 18px;
    font-family: 'Montserrat';
    border-radius: 20px;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.51);
    border: 1px solid black;
    margin-bottom: 15px ;
}

#titulacion_cursada{
    margin-top: 0px;
    height: 45px;
    font-size: 18px;
    font-family: 'Montserrat';
    border-radius: 20px;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.51);
    border: 1px solid black;
    margin-bottom: 15px ;
}

/* input[type=checkbox]{
    text-align: center;
} */

.inputs_registro{
    display: flex;
    gap: 30px;
}
.formulario-registro {
    border: 10px solid rgb(0, 0, 0);
    border-bottom: 20px solid black;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: white;
    width: 800px;
}

.recuerdame{
    display: flex;
    align-items: center;
}

.label_recuerdame{
    margin-bottom: 0;
}

.recuerdame_contrasena{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    gap: 60px;
}

.olvido-contraseña{
    text-decoration: none;
    color: rgb(94, 94, 94);
}

.boton_aceptar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 27px;
    font-family: 'Montserrat';
    font-weight: 500;
    width: 100%;
    height: 45px;
}

.iniciarsesion_google{
    display: flex;
    gap: 20px;
    align-items: center;
}

.google{
    font-size: 18px;
}

.separador{
    /* margin-top: 20px; */
    width: 60%;
}

.registrate{
    font-size: 20px;
}

.registrate a{
    text-decoration: none;
    color: #0097EC;
    font-weight: 500;
}

h1{
    font-size: 80px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 45px;
    font-weight: 600;
    text-align: center;
    margin-left: 0;
}